@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf") format("ttf");
}

html {
  -webkit-text-size-adjust: none; /*─ Debug font size on iphone when landscape orientation ─*/
  -webkit-font-smoothing: subpixel-antialiased; /*─ Debug safari font weight when fixed element on the page ─*/
  -webkit-font-smoothing: antialiased; /*─ idem : Debug safari font weight when fixed element on the page ─*/
}

body {
  margin: 0;
  padding: 3vh;
  height: 93.5vh;
  background-color: #e8edf3;
  display: grid;
  grid-template: 1fr / 1fr;
  font-family: "avenir", sans-serif;
  .last-letter {
    letter-spacing: 0em;
  }
}

.screen {
  padding: 3vh;
  border: solid 1px rgba(63, 91, 102, 0.5);
  grid-area: 1 / 1;
  display: grid;
  grid-template-rows: 1fr 1fr 844px 1fr 1fr;
  grid-template-columns: 1fr 390px 1fr;

  .title-website {
    font-size: 0.9rem;
    font-weight: 400;
    color: #1e4853;
    opacity: 40%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    strong {
      font-family: "Montserrat", sans-serif;
      font-weight: 900;
    }
  }

  .reserved {
    grid-area: 4 / 2;
    text-align: center;
    color: #1e4853;
    font-size: 0.7rem;
    opacity: 25%;
  }

  .container-app {
    grid-area: 3 / 2;
    border-radius: 80px;
    border: 8px solid #4279db;
    box-sizing: border-box;
    box-shadow: inset -15px -15px 25px rgba(255, 255, 255, 0.5),
      inset 20px 20px 25px rgba(209, 217, 230, 0.5);
  }
}
